@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,800');
@import 'variables';
@import 'header';
@import 'form';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 300;
  height: 100%;
  background-color: #ffeecc;
}

body {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

main {
  transform: translateY(25%);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

p {
  font-size: 1.25rem;
  text-align: center;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  color: $brown;
  line-height: 1.25;
  font-weight: 400;
}
